@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

/* Overall Website Design */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Overall Website Design */

/* HEADER AND NAVIGATION BAR */
header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    background-color: white;



}

header .brand {
    color: #A94064;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;

}

header .navigation .navigation-items a {
    position: relative;
    color: #000;
    font-size: 1em;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

/* HEADER AND NAVIGATION BAR */

/* Homepage Design */
section {
    padding: 100px 200px;

}


.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;

}

.home .content {
    z-index: 888;
    width: 70%;
    margin-top: 10px;
}

.home .content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content p {
    margin-bottom: 65px;
}



button {
    background-color: rgba(207, 47, 116);
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover,
.home .content a:hover {
    background-color: rgba(207, 47, 116, 0.8);

}

.home .content a {
    background-color: rgba(207, 47, 116);
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #000;

}



/* Homepage Design */


/* Resume Design */
.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    height:50%;
    width:50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Resume Design */

/* Blog--------------------------------------- */

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;

}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

.blog-heading span{
    color: #f33c3c;
}

.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
    flex-wrap: wrap;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.25);
    
}

.blog-box{
    width:350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;

}

.blog-img{
    width: 100%;
    height: auto;
}

.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.blog-text{
    padding:30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color:#f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;


}

.blog-text .blog-title:hover{
    color:#f33c3c;
    transition: all ease 0.3s;

}

.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;


}

.blog-text a{
    color: #0f0f0f;


}

.blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
    

}

/* Blog */


/* About */


.about{
    height:100vh;
    display: flex;
    align-items: center;
}

.about-container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 auto;
    background-color: pink;

}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content:center;

}

.left img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}

.right > *{
    margin-bottom: 1.1rem;
}

:root{
    --color:rgba(207, 47, 116);
}
.right h4{
    font-weight: 500;
    background: var(--color);
    display:inline-block;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 4px;

}

.right h1{
    font-size: 2rem;
    font-weight: 800;
}

.right p{
    text-align: justify;
}

/* About */

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: Black;
}

/* FOOTER */