{% extends 'base.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block content %}
<img class="profile" src="{% static 'images/Life.jpg' %}">

<section class="aboutcontainer">
    <div class="card">
        <div class="card-image"></div>
        <h2>Title</h2>
        <p>Text</p>
    </div>
    <div class="card">
        <div class="card-image"></div>
        <h2>Title</h2>
        <p>Text</p>
    </div>
    <div class="card">
        <div class="card-image"></div>
        <h2>Title</h2>
        <p>Text</p>
    </div>

</section>

{% endblock %}