{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<section class="home">
    <div class="content">
        <h1>Front-End<br>Development</h1>
        <p> A passionate, solution-focused individual seeking an Entry-Level Front-End Software Development role. Experienced in Python, Java, JavaScript, Version Control, and Interoperability Testing. Delivered matching app 83% ahead of schedule and deployed web application over 15 times during project sprint. Motivated to learn new languages, methods, and produce innovative applications to enhance the end-user experience.</p>
        <a href="{% url 'about' %}">Read More</a>
    </div>
    
</section>

<div class="home-images">
    <img src="{% static 'images/Speaker.png' %}">
</div>


{% endblock %}